.about {
    padding: 160px 0 203px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_title {
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            margin-top: 100px;
        }
        &_descr {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            color: #434242;
            margin-top: 32px;
            width: 584px;
        }
        &_list {
            list-style-type:circle;
            padding-left: 0;
            margin: 0;
            &_title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                color: #000000;
                margin-top: 24px;
            }
            &_li {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                color: #434242;
                margin: 15px 0;
            }
        }
    }
    &__block {
        max-width: 100%;
        height: 288px;
        background: #EAD1D0;
        margin-top: 80px;
        padding: 32px 80px 0 80px;
        position: relative;
        &_image {
            position: absolute;
            top: 15%;
            left: 0;
        }
        &_wrapper {
            display: flex;
            justify-content: space-between;
        }
        &_list {
            &_second {
                margin-top: 36px;
            }
            &_title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 200%;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 16px;
            }
            &_li {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 250%;
                color: #434242;
                img {
                    margin-right: 10px;
                }
            }
        }
        
    }
}