.footer {
    max-height: 76px;
    padding: 30px 0;
    background: #69120E;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 140%;
            color: rgba(255, 255, 255, .4);
            text-decoration: none;
        }
        &_address {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 140%;
            color: rgba(255, 255, 255, .4)
        }
    }
}